.nav-name{
  display: block;
}

#logo img{
  width: 320px;
  max-width: none;
}

.nav-borders{
  padding-top: 20px;
  height: 100px;
}

/* frontpage_content.php */
#map {
  //float: right;
  height: 600px;
  width: 800px;
}

.filterPanel {
  float: left;
  width: 200px;
  height: auto;
  border: 2px solid grey;
}

.locationFilterContainer {
  width: 180px;
  height: 150px;
  border: 2px solid brown;
}