.nav-name{
  display: block;
}

#logo img{
  width: 320px;
  max-width: none;
}

.nav-borders{
  padding-top: 20px;
  height: 100px;
}

/* frontpage_content.php */
#map {
  height: 600px;
  width: 100%;
}

.infowindowContent {
  border: 2px solid blue;
}
